
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" dir="rtl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="fonclass">
           داشبورssد
            <small>معلومات مختصر سیستم اداری قصر عروسی ستاره ها</small>
        </h1><br />
        @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
    </section>
    <div class="col-lg-3 col-xs-6" dir="rtl">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>150</h3>

                <p>بوکنگ جدید</p>
            </div>
            <div class="icon">
                <i class="ion ion"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6" dir="rtl">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>150</h3>

                <p>بوکنگ تصفیه حساب</p>
            </div>
            <div class="icon">
                <i class="ion ion"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6" dir="rtl">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>150</h3>

                <p>بوکنگ لغوشده</p>
            </div>
            <div class="icon">
                <i class="ion ion"></i>
            </div>
        </div>
    </div>
</div>
<div class="row" dir="rtl">
    <div class="panel panel-success">
        <div class="panel-heading" >
            بوکنگ های کارت نا
            <input type="button" class="btn-success pull-left fonclass" id="AddNew" value="کتگوری جدید" />
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <div id="Category"></div>
            </div>
        </div>
    </div>
</div>


