

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SWH</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/Scripts/rtl/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Scripts/rtl/AdminLTE.min.css">
    <link rel="stylesheet" href="/Scripts/rtl/_all-skins.min.css">
    <link rel="stylesheet" href="/Scripts/rtl/iCheck/flat/blue.css">
    <link rel="stylesheet" href="/Scripts/rtl/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!--Jquery Calender Start Here-->
    <script src="~/Scripts/calender/jquery.calendars.js"></script>
    <script src="~/Scripts/calender/jquery.calendars.plus.js"></script>
    <link href="~/Scripts/calender/jquery.calendars.picker.css" rel="stylesheet" />
    <script src="~/Scripts/calender/jquery.plugin.js"></script>
    <script src="~/Scripts/calender/jquery.calendars.picker.js"></script>
    <script src="~/Scripts/calender/jquery.calendars.persian.js"></script>
    <script src="~/Scripts/moment-2.2.1.js"></script>

    <!-- jqxwidget start here -->
    <script src="~/Scripts/JScript.js"></script>

    <script src="/Scripts/jqwidgets/jqx-all.js"></script>
    <link href="/Scripts/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <script src="/Scripts/jqwidgets/jqxcore.js"></script>
    <script src="/Scripts/jqwidgets/jqxdata.js"></script>
    <link href="/Scripts/jqwidgets/styles/jqx.arctic.css" rel="stylesheet" />
    <script src="/Scripts/jqwidgets/jqxmenu.js"></script>
    <script src="/Scripts/jqwidgets/jqxcheckbox.js"></script>
    <link href="/Scripts/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />
    <link href="/Scripts/jqwidgets/styles/jqx.darkblue.css" rel="stylesheet" />
    <script src="/Scripts/jqwidgets/jqxvalidator.js"></script>
    <script src="/Scripts/jqwidgets/jqxdata.export.js"></script>
    <script src="/Scripts/jqwidgets/jqxgrid.export.js"></script>

    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/jqwidgets/jqxwindow.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <link href="~/Scripts/jqwidgets/styles/jqx.windowsphone.css" rel="stylesheet" />
    <link href="~/Scripts/jqwidgets/styles/jqx.android.css" rel="stylesheet" />
    <link href="~/Scripts/jqwidgets/styles/jqx.mobile.css" rel="stylesheet" />
    <link href="~/Scripts/jqwidgets/styles/jqx.blackberry.css" rel="stylesheet" />
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
    <!--jqxwidget End here-->




</head>
<body class="hold-transition">
    <div class="wrapper">
        <header class="main-header" >
            <nav class="navbars" >
                <table class="table" style="background-color: #337AB7" width="98%">
                    <tr>
                        <td width="93%"><h4 class="fonclass" style="color:white;">سیستم اداری و بوکینگ قصر عروسی ستاره ها</h4></td>
                        <td style="background-color:white;" width="5%"><img src="~/images/slogo.jpeg" width="70" height="70" /></td>
                    </tr>
                </table>
            </nav>
        </header>
        <div class="content-wrapper">
            <div style="width:98%; padding:4px">
                <br />
                @RenderBody()
            </div>
            <!-- /.content -->
            


        </div>
    </div>

        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <script src="/Scripts/rtl/bootstrap.min.js"></script>
        <script src="/Scripts/rtl/app.min.js"></script>
        <script src="/Scripts/rtl/demo.js"></script>
        <script src="/Scripts/rtl/fastclick/fastclick.js"></script>
        <script src="/Scripts/rtl/slimScroll/jquery.slimscroll.min.js"></script>



</body>
</html>